<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<bean id="client" class="spring.core.course.app.p1_5.Client">
		<constructor-arg value="1" />
		<constructor-arg value="John Smith" />
	</bean>

	<bean id="eventLogger" class="spring.core.course.app.p1_5.ConsoleEventLogger" />

	<bean id="app" class="spring.core.course.app.p1_5.App">
		<constructor-arg ref="client" />
		<constructor-arg ref="cacheFileEventLogger" />
	</bean>

	<bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance" />

	<bean id="event" class="spring.core.course.app.p1_5.Event" scope="prototype">
		<constructor-arg>
			<bean class="java.util.Date" />
		</constructor-arg>
		<constructor-arg ref="dateFormat" />
	</bean>

	<bean id="fileEventLogger" class="spring.core.course.app.p1_5.FileEventLogger"
		init-method="init">
		<constructor-arg value="log.txt" />
	</bean>

	<bean id="cacheFileEventLogger" class="spring.core.course.app.p1_5.CacheFileEventLogger"
		destroy-method="destroy" parent="fileEventLogger">
		<constructor-arg index="0" type="java.lang.String" value="log_cached.txt" />
	</bean>

</beans>